@@charset "UTF-8";

/*
----------------------------*/
html {
  font-size: 100%;
}
body {
  line-height: 1.7;
  background-color: beige;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

/* header
-----------------------------*/
.main_header{
  display: flex;
  justify-content: space-between;
}
.main_title a{
  color: #432;
}
.main_title a:hover{
  color: #0bd;
}
.main_nav{
  display: flex;
  text-transform: uppercase;
  list-style: none;
  margin-top: 34px;
}
.main_nav li{
  margin-left: 36px;
}
.main_nav a{
  color: #432;
}
.main_nav a:hover{
  color: #0bd;
}
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}
/*home
------------------------------*/
.home{
  border: 1px pink solid;
}
.home_content{
  text-align: center;
  width: auto;
  height: 500px;
  border: 1px black solid;
  margin-bottom: 27px;
}
.home_content p{
  margin-top: 200px;
}
.categories h3{
  border-bottom: 3px pink solid;
}
.categories_list a{
  color: #432;
}
.categories_list a:hover{
  color: #0bd;
}
.categories_list li{
  border-bottom: 1px #ddd solid;
}
.a_and_c{
  display: flex;
  justify-content:space-between;
  margin-bottom: 50px;
}
article{
  width: 85%;
}
aside{
  width: 15%
}
.todo_input{
  width: 800px;
}
